:root{
    --borderstyle: ridge;
    --border-color: rgb(217, 185, 227);
    --border-width:6px;
    --left-padding:60px;
    --right-padding:0;
    --item-width:15%;
}
body{
    padding: 0;
    margin: 0;
    max-width: 100%;
    height: 100%;
}
h1 {
    font-family: "Comfortaa", cursive;
  }
  
  h2 {
    font-family: "Crimson Text", serif;
    width: 60px;
  }
  
  p,
  a {
    font-family: "Poppins", sans-serif;
  }
header{
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
}
header h1{
    padding-top: 20px;
    padding-left: 20px;
    
}
header img{
    width: 125px;
    height: 135px;
    padding-left: 20px;
}
header nav{
    margin-left: 400px;
}
.list{
    padding-top: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}


.list-item{
    padding-left: 20px;
    text-decoration: none;
    
}
header nav a{
    text-decoration: none;
    font-size: larger;
    color: rgb(4, 4, 130);
}
header nav .list-item:hover{
        text-decoration: none;
        font-size: medium;
        transform: scale(1.1);
        filter: drop-shadow(0 0 0.30rem rgb(255, 0, 0));
}

header nav{
    position: relative;
}
#About-me{
    background-color: rgb(228, 246, 246);
    display: flex;
    height: 100%;
    width: 100%;
}
#About-me h2{
    width: var(--item-width);
    border-right: var(--borderstyle);
    border-color: var(--border-color);
    border-width: var(--border-width);
    padding-left: var(--left-padding);
    padding-right: var(--right-padding);
}
#About-me p{
    padding-left: 5%;
    width: 100%;
}
#My-projects{
    background-color:  rgb(228, 246, 246);
    display: flex;
    height: 100%;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}
#My-projects h2{
    width: var(--item-width);
    border-right: var(--borderstyle);
    border-color: var(--border-color);
    border-width: var(--border-width);
    padding-left: var(--left-padding);
    padding-right: var(--right-padding);
}
#My-projects nav{
    padding-left: 5%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
#My-projects nav div{
    margin-right: 50px;
    max-width: 300px;
    max-height: 500px;
}
#My-projects nav div img{
    width: 300px;
    height: 300px;
    padding: 10px;
}
#My-projects nav div img:hover{
    
    transform: scale(1.2);
    border-width: 5px;
    padding: 0;
    margin: 10px;
    filter: drop-shadow(0 0 1rem rgb(249, 234, 149));
   
}
#My-projects nav div h2{
    text-align: center;
}
#Contact-me{
    background-color:  rgb(228, 246, 246);
    display: flex;
    height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}
#Contact-me h2{
    width: var(--item-width);
    border-right: var(--borderstyle);
    border-color: var(--border-color);
    border-width: var(--border-width);
    padding-left: var(--left-padding);
    padding-right: var(--right-padding);
}
#Contact-me ul{
    padding-left: 5%;
    font-size: large;
    width: 100%;

}
#Contact-me ul li{
    font-size: xx-large;
    font-style: italic;
    font-weight: 700;
    color: rgb(113, 113, 176);
}
main{
    margin: 0;
    padding: 0;
}
footer{
    background-color: aquamarine;
    text-align: center;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
 
    
}
footer p{
    font-family: "Comfortaa", cursive;
}
@media screen and (max-width: 1100px) {
    *{
        padding: 0;
        margin: 0;
    }
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 100%;
    }
    .list{

        list-style-type: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 5px;
        margin-left: 480px;
        
    }
    .list-item{

        padding: 5px;
        text-decoration: none;
    }

} 
@media screen and (max-width: 1000px) {
    *{
        padding: 0;
        margin: 0;
    }
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 100%;
    }
    .list{

        list-style-type: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 5px;
        margin-left: 430px;
        
    }
    .list-item{

        padding: 5px;
        text-decoration: none;
    }

}  
@media screen and (max-width: 900px) {
    *{
        padding: 0;
        margin: 0;
    }
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 100%;
    }
    .list{

        list-style-type: none;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 5px;
        margin-left: 330px;
        
    }
    .list-item{

        padding: 5px;
        text-decoration: none;
    }

}
@media screen and (max-width: 800px) {
    *{
        padding: 0;
        margin: 0;
    }
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 100%;
    }
    header nav{
        display: block;
    }
    .list{

        list-style-type: none;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 5px;
        margin-left: 231px;
        
    }
    .list-item{

        padding: 5px;
        text-decoration: none;
    }

} 
@media screen and (max-width: 700px) {
    *{
        padding: 0;
        margin: 0;
    }

    header{
        background-color: aquamarine;
        display: block;
        height: 100%;
        margin: auto;
    }
    header img{
        display: block;
        margin: auto;
       
        
    }
    header h1{
        text-align: center;

        margin: auto;
        padding: 0;
        padding-left: 0;
        padding-right: 0;
    }
    header nav{
   
        padding: 0;
        margin: 0;
    }
    header nav .list{
        margin-left: 0;
    }
    header nav .list .list-item{
        text-align: center;
    }
  
}